body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  background-color: #edeaea;
}

.head {
  width: 100vw;
  height:70px;
  background-color: #510b51;
  display: flex;
  overflow: hidden;
  
}
.foot {
  width: 100vw;
  height:50px;
  background-color: #510b51;
  
  
}

.circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius:50% ;
  overflow: hidden;
  display: flex;
  align-self: center;
  margin-left:15px;
  justify-content: center;
}
.uni {
  font-size: 25px;
  color: white;
  align-self:center;
  margin-left:20px;
  font-family: Arial;
}

.main {
  flex: 1;
  
}
.Mcontainer {
  overflow: hidden;
  display:flex;
  flex-direction: column;
  width: 90%;
  height: 900px;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 1.5px 1.5px 25px #e5e3e3;/* #505050*/
  background-color: hsl(0,0%,99%);
  
}

.login h3 {
  color:#510b51 ;
  font-size: 25px;
  font-family: Tahoma;
  margin-top: 30px;
}
.login{
  display: flex;
  justify-content: center;
  
}
.input{
  padding-left: 25px;
  height: 400px;
}
.user {
  display:flex;
  align-self: flex-start; 
}
.user p {
  font-size: 18px;
  font-family: Tahoma;
  color: #1c1b1b;
}
.textboxDiv{
  display: flex;
  align-self: flex-start; 
  
}
.textboxDiv input {
  padding-left: 20px;
  height: 45px;
  border-radius:10px;
  width: 75vw;
  border: 1px solid #d1d1d1;
  background-color: hsl(0,0%,99%);
}
.textboxDiv input:focus {
  outline: none;
}
#captcha {
  color:  #510b51;
  font-size: 20px;
  text-align: center;
  border:1px solid #d1d1d1;
  width: 30vw;
  height: 33px;
  padding: 10px;
  border-radius:10px;
  margin-top: 1px;
  margin-bottom: 10px;

}

.but {
  display: flex;
  text-align: center;
  margin-top: 25px;
  width: 80vw;
  align-self: flex-start; 
}

  .but button {
  width: 80vw;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #510b51 ;
  background-color: #510b51;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
#message {
  font-size: 12px;
}
#dear{
  text-align: center;
  font-weight: bold;
  
}
